.navbar-default.sidebar{ role: 'navigation' }
  .sidebar-nav.navbar-collapse.collapse
    %ul#side-menu.nav
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{ type: "text", placeholder: "Search..." }
          %span.input-group-btn
            %button.btn.btn-default{ type: "button" }
              %i.fa.fa-search
      %li
        %a{ href: '/' }
          %i.fa.fa-dashboard.fa-fw
          = t(:dashboard)
      %li
        %a{ href: '#' }
          %i.fa.fa-money.fa-fw
          = t(:costs)
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to t(:costs_list), costs_path
          %li
            = link_to t(:add_new_cost), new_cost_path
      %li
        %a{ href: '#' }
          %i.fa.fa-th-list.fa-fw
          = t(:cost_categories)
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to t(:cost_categories_list), cost_categories_path
          %li
            = link_to t(:add_new_cost_category), new_cost_category_path
      %li
        %a{ href: '#' }
          %i.fa.fa-credit-card.fa-fw
          = t(:funds)
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to t(:funds_list), funds_path
          %li
            = link_to t(:add_new_fund), new_fund_path
      %li
        %a{ href: '#' }
          %i.fa.fa-download.fa-fw
          = t(:incomes)
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            = link_to t(:incomes_list), incomes_path
          %li
            = link_to t(:add_new_income), new_income_path
      %li
        %a{ href: '/dashboard/sample' }
          %i.fa.fa-camera.fa-fw
          | Sample Dashboard
