.row
  .col-lg-12
    %h2.page-header= t(:costs)
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading= t(:costs_list)
      .panel-body
        .table-responsive
          %table.table
            %thead
              %tr
                %th Name
                %th Category
                %th Amount
                %th Description
                %th Spent on
                %th User
                %th Actions
            %tbody
              - @costs.each do |cost|
                %tr
                  %td= cost.name
                  %td= cost.cost_category.name
                  %td= cost.amount
                  %td= cost.description
                  %td= cost.spent_on
                  %td= cost.user.try(:username)
                  %td
                    = link_to 'Edit', edit_cost_path(cost)
                    = link_to 'Destroy', cost, :method => :delete, :data => { :confirm => 'Are you sure?' }
    = link_to new_cost_path, class: 'btn btn-success' do
      %i.fa.fa-plus
      = t(:add_new_cost)