.row
  .col-lg-12
    %h2.page-header= t(:costs)
.row.hidden-xs
  .col-lg-12
    %p.pull-right
      = link_to new_cost_path, class: 'btn btn-success' do
        %i.fa.fa-plus
        = t(:add_new_cost)
.row
  .col-lg-12
    = render 'filter_form', cost_query: @cost_query

    .panel.panel-default
      .panel-heading= t(:costs_list)
      .panel-body
        .table-responsive
          %table.table
            %thead
              %tr
                %th= t(:name)
                %th= t(:category)
                %th= t(:amount)
                %th= t(:description)
                %th= t(:spent_on)
                %th= t(:user)
                %th= t(:actions)
            %tbody
              - @cost_query.results.each do |cost|
                %tr
                  %td= cost.name
                  %td= cost.cost_category.name
                  %td= cost.amount
                  %td= cost.description
                  %td= l(cost.spent_on)
                  %td= cost.user.try(:username)
                  %td
                    = link_to edit_cost_path(cost), title: t(:edit) do
                      %i.fa.fa-pencil.fa-fw
                    = link_to cost, method: :delete, title: t(:destroy), data: { confirm: t(:a_u_sure) } do
                      %i.fa.fa-trash-o.fa-fw

  .col-lg-12
    = paginate @cost_query.results
