.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw 
        = t('30_days_costs')
        - if false
          .pull-right
            .btn-group
              %button.btn.btn-default.btn-xs.dropdown-toggle{ type: :button, 'data-toggle' => 'dropdown' }
                = t(:actions)
                %span.caret
              %ul.dropdown-menu.pull-right{ role: :menu }
                %li
                  %a{ href: '#' } Action
                %li
                  %a{ href: '#' } Another action
                %li
                  %a{ href: '#' } Something else here
                %li.divider
                %li
                  %a{ href: '#' } Separated link
      .panel-body
        #30-days-costs-area-chart

:javascript
  Morris.Area({
    element: '30-days-costs-area-chart',
    data: #{js_area_chart_data.to_json},
    xkey: 'spent_on',
    ykeys: #{cost_categories.map { |c| "category_#{c.id}" }.to_json},
    labels: #{cost_categories.map(&:name).to_json},
    pointSize: 2,
    hideHover: 'auto',
    resize: true,
    parseTime: false
  });
