.row
  .col-lg-8
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw 
        Расходы за последние 30 дней
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{ role: 'menu' }
              %li
                %a{ href: "#" } Action
              %li
                %a{ href: "#" } Another action
              %li
                %a{ href: "#" } Something else here
              %li.divider
              %li
                %a{ href: "#" } Separated link
      .panel-body
        #morris-area-chart

  .col-lg-4
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        Расходы по категориям
      .panel-body
        #morris-donut-chart
        = link_to costs_path, class: 'btn btn-default btn-block' do
          View Details

:javascript
  Morris.Area({
    element: 'morris-area-chart',
    data: #{@js_area_chart_data.to_json},
    xkey: 'spent_on',
    ykeys: #{CostCategory.all.map { |c| "category_#{c.id}" }.to_json},
    labels: #{CostCategory.all.map(&:name).to_json},
    pointSize: 2,
    hideHover: 'auto',
    resize: true,
    parseTime: false
  });

  Morris.Donut({
    element: 'morris-donut-chart',
    data: #{@js_donut_chart_data.to_json},
    resize: true
  });
