.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-eur.fa-5x
          .col-xs-9.text-right
            .huge= currency_grouped_funds['EUR'] || 0
            %div EUR!
      = link_to funds_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-usd.fa-5x
          .col-xs-9.text-right
            .huge= currency_grouped_funds['USD'] || 0
            %div USD!
      = link_to funds_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-bitcoin.fa-5x
          .col-xs-9.text-right
            .huge= currency_grouped_funds['UAH'] || 0
            %div UAH!
      = link_to funds_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-ruble.fa-5x
          .col-xs-9.text-right
            .huge= currency_grouped_funds['RUR'] || 0
            %div RUR!
      = link_to funds_path do
        .panel-footer
          %span.pull-left View Details
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
