.row
  .col-lg-12
    %h2.page-header= t(:dashboard)

= cache 'fund_change.dashboards.index.first_row_summary_by_currency' do
  = render 'first_row_summary_by_currency'

= cache 'last_cost.dashboards.index.second_row_charts' do
  = render 'second_row_charts'

= cache 'last_cost.dashboards.index.costs_list' do
  = render 'costs_list'
