= simple_form_for @cost_category, defaults: { input_html: { :class => 'form-control' } } do |f|
  .row
    .col-lg-6
      = f.error_notification
      %fieldset
        = f.input :name
        = f.input :month_limit
        = f.input :description
      .actions
        = f.submit t(:save), class: 'btn btn-success'
