.row
  .col-lg-12
    %h2.page-header= t(:cost_categories)
.row
  .col-lg-12
    %p.pull-right
      = link_to new_cost_category_path, class: 'btn btn-success' do
        %i.fa.fa-plus.fa-fw
        = t(:add_new_cost_category)
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading= t(:cost_categories_list)
      .panel-body
        .table-responsive
          %table.table
            %thead
              %tr
                %th= t(:name)
                %th= t(:month_limit)
                %th= t(:description)
                %th= t(:actions)
            %tbody
              - @cost_categories.each do |cost_category|
                %tr
                  %td= cost_category.name
                  %td= cost_category.month_limit
                  %td= cost_category.description
                  %td
                    = link_to edit_cost_category_path(cost_category), title: t(:edit) do
                      %i.fa.fa-pencil.fa-fw
                    = link_to cost_category, method: :delete, title: t(:destroy), data: { confirm: t(:a_u_sure) } do
                      %i.fa.fa-trash-o.fa-fw