.row
  .col-lg-12
    %h2.page-header= t(:funds)
.row
  .col-lg-12
    %p.pull-right
      = link_to new_fund_path, class: 'btn btn-success' do
        %i.fa.fa-plus
        = t(:add_new_fund)

= render 'summary_by_currency'

= render 'list'

= render 'changes_list'
